

body {
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 253, 246);
    cursor: url('img/iconologo.png'), auto;
    font-size: 12px;
    min-height: 100vh;
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: rgb(14, 157, 98) #f1f1f1; /* Color de la barra de desplazamiento y del track */
}

  
/* Estilo para navegadores basados en Trident/EdgeHTML (Internet Explorer y Edge antiguo) */
body::-ms-scrollbar {
    width: 12px;
}

body::-ms-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del track de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #0E9D62; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Redondeado de la barra de desplazamiento */
    border: 3px solid #f1f1f1; /* Borde alrededor de la barra de desplazamiento */
}

.Header {
    display: flex;
    padding: 10px 10px;
    color: rgb(45, 42, 42);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border-bottom: 1px solid rgb(62, 62, 62);
    position: relative;
    
}


.Header-logoImage {
    width: 100px;
    margin: 15px;
}

.Header-navList {
    justify-content: center;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      font-size: 16px;
    
  }


/* .Main-imglateral{
    position: fx;
} */
  

.Header-navItem {
    padding: 20px;
    border-left: 1px solid rgb(62, 62, 62); 
}

.Header-navLink {
    color: rgb(62, 62, 62);
    text-decoration: none;
   
}

.Header-navLink:hover {
    
    font-weight: 600;
    
}

.Header-paginas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}
.Main {
    flex: 1;
    padding: 30px;
    text-align: center;
    display: flex;
   align-items: center;
    flex-direction: column;
    margin: 20px;

}

.Main-secundario{
    display: flex;
    justify-content: center;
    


}

.Main-encabezado{
  
    font-family: "limelight";

}
.Main-texto{
    font-size: 24px;
    font-family: "musemoderno";
    font-weight: 300;
    line-height: 150%;
    flex-wrap: wrap;
    margin: 20px;
    text-align: justify;
    text-justify: inter-word;
    

}
.Main-intro{
    width: 80%;
    min-width: 300px;
}

.Main-imgsec{
    width: 20%;
    height: 20%;

}

.Main-quienessomosbox{
    display: flex;
    flex-direction: row;
}

.Main-quienessomos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.Main-textosecundariobox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    min-width: 300px;
}

.Main-textosecundario{ font-size: 20px;
    font-family: "musemoderno";
    text-align:center;
    font-weight: 200;
    line-height: 150%;
    flex-wrap: wrap;
    margin: 20px 0 50px 0;
    max-width: 1030px;
    

}

.Main-newsletter {
    padding: 20px;
    border-radius: 25px 0px 25px 0px;
    text-align: center;
    background-color: rgba(126, 212, 139, 0.5); /* Color de fondo con opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 400px;
    

}
.Main-newsletter h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-family: "limelight";
}

.Main-newsletter p{
    font-family: "museomoderno";
    font-size: 16px;
}
.Main-newsletter input[type="email"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: rgba(255, 253, 246);
}
.Main-newsletter input[type="submit"] {
    background-color: rgb(62, 62, 62); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-family: "limelight";
}
.Main-newsletter input[type="submit"]:hover {
    background-color: rgb(228, 130, 177);
    box-shadow: 0 0 7px 1px rgb(228, 130, 177);
}

.Main-parteinferior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    
}

.Main-ilustracion{
    width: 100%;
} 

.Main-ilustracion--img{
    max-width: 30%;
    
}

.destacado{
    font-family: "museomoderno";
    font-weight: 400;
}

 .Main-proceso{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

} 

.Main-procesoItem{
    width: 300px;
    padding: 50px;
}
.button{
   
    margin: 20px;
    background-color: rgb(41, 36, 36);
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-family: "limelight";

   
    
}

.button:hover{
    background-color: rgb(228, 130, 177);
    box-shadow: 0 0 7px 1px rgb(228, 130, 177);
}

.Main-cita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "musemoderno";
    font-weight: 200;
    font-style: italic;
    margin-left: 50px;
    width: 600px;
    margin: 20px 25px;

}

.Main-quote{
    font-size: 20px;
    text-align: justify;
    
}

.Main-author{
    font-family: "Italiana";
    font-size: 16px;
    text-align:end;


}

.footer {
    background-color: rgb(255, 253, 246);
    color: rgb(41, 36, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    min-width: 100%;
    height: 50px;
    
  }

 .footer a {
     color: rgb(45, 42, 42);
     text-decoration: none;
    
     
 }
.slider-container {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Centra el contenedor */
    
}

.slider {
    display: flex;
    transition: transform 0.2s ease-in-out;
    }

.employee-card {
    flex: 0 0 33.33%; /* Tres tarjetas por fila */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    text-justify: distribute-all-lines;
    background-color: rgba(126, 212, 139, 0.5);

    margin: 10px;
    border-radius: 25px 0px 25px 0px;
    max-width: 300px; /* Ancho máximo ajustado */
    min-width: 200px; /* Ancho mínimo para evitar problemas */
    
}

.employee-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 10px solid rgb(228, 130, 177); /* Borde con color */
    box-shadow: 0 0 7px 1px rgb(228, 130, 177);
}

.employee-card h3 {
    margin: 10px 0;
    font-family: "limelight";
}

.employee-card p {
    font-size: 14px;
    color: rgb(45, 42, 42);
    font-family: "museomoderno";
}

.employee-card .Main-quote {
    color: rgb(45, 42, 42);
    font-family: "museomoderno";
    font-weight: 200;
    font-style: italic;
}

.employee-card .Main-author {
    font-style: italic;
    color: rgb(45, 42, 42);
    font-family: "italiana";
}

.nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-buttons button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
}

.nav-buttons button:focus {
    outline: none;
}

.pricing-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    
}

.pricing-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 450px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    color: rgb(45, 42, 42);
    font-family: "museomoderno";
    font-weight: 400;
    font-size: 14px;
    text-justify: distribute-all-lines;
    background-color: rgba(126, 212, 139, 0.5);
}

.pricing-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 7px 1px rgb(228, 130, 177);
    
}

.pricing-card h2 {
    margin-top: 20px;
    color: #333;
    font-family: "limelight";
}

.price {
    font-size: 24px;
    color: #0E9D62;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
}

.pricing-card ul li {
    margin: 10px 0;
    color: #666;
}

.signup-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    margin: 20px;
    background-color: rgb(41, 36, 36);
    font-size: 14px;
    padding: 15px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-family: "limelight";
}

.signup-btn:hover {
    background-color: rgb(228, 130, 177);
    box-shadow: 0 0 7px 1px rgb(228, 130, 177);
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  
}

.title {
    font-family: 'Limelight', cursive;
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
   
}

.subtitle {
    font-family: 'Limelight', cursive;
    color: #333;
    font-size: 18px;
    margin-top: 10px;

}

.description, .plan-description, .final-description {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    font-family: "museomoderno";
    text-align: justify;
}

.plan {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plan-title {
    font-family: 'Limelight', cursive;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

.accordion-item {
  background-color: rgb(255, 253, 246);
   cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    
    font-family: "limelight";
    flex-direction: column;
    
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 10px;
   border: none;
   border-bottom: 2px solid #333;
  
}

.accordion-item:hover {
   
    border-bottom: 2px solid rgb(228, 130, 177);
    
}

.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.acordeon{
    width: 100%;
    margin-bottom: 30px;
    
    
    
}
.panel {
    display: none;
    padding:  15px;
    
    overflow: hidden;
    font-family: "museomoderno";
    font-size: 16px;
    border-radius: 10px;
    text-align: justify;
    
}

.panel p {
    margin-top: 0;
}

.panel.active {
    display: block;
}
